<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dibujemos</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div id="connections"></div>
  <div id="cursors">
    <!-- Aqui pondremos los cursores de nuestros amigos -->
  </div>

  <canvas id="paper" width="1900" height="1000">
    Tu navegador debe soportar canvas
  </canvas>

  <hgroup id="instructions">
    <h1>¡DibujemosJs!</h1>
    <h2>Dibuja en cualquier lugar</h2>
    <h3>Si quieres un limpiar los dibujos simplemente refresca la página</h3>
    <h3>0.0.3 <a href="https://twitter.com/carlosbrunotbc">@carlosbrunotbc</a></h3>
  </hgroup>

  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="javascripts/script.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/body-scroll-lock@2.5.10/lib/bodyScrollLock.min.js"></script>
</body>
</html>
